.subtable{
    width:100%;
   background:#f7f7f7;
   border-radius:20px;
   color:#045139;
   font-weight: bold;
   };
  
   .sublist{
    width:100%;
    background:#f7f7f7;
    border-radius:20px;
    color:#045139;
    font-weight: bold;

    
   };
