.subtable{
    width:100%;
   background:#f7f7f7;
   border-radius:20px;
   color:#045139;
   font-weight: bold;
   
   };
  
   .sublist{
    width:100%;
    background:#f7f7f7;
    border-radius:0.8999rem !important; 
    color:#045139;
    height:80px;
    margin-top:2;
    padding:15px;
    display:flex;
    align-items:center;
    font-family: Maven Pro;
    
   };
   .subcontent{
    font-weight: bold;
    font-family: Maven Pro;
    font-size: 0.8rem !important;
   }